{
    margin: 0;
    padding: 0;
}


body
{
    height: 100vh;
    width: 100%;
    
}
.home
{
    background-image:linear-gradient(rgba(185, 185, 185, 0.438),rgba(185, 185, 185, 0.308)),url('../assets/background.jpg');
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
}

/*
For background of navbar
.nav-row
{
    background-color: rgba(255, 255, 255, 0.308);
}
*/
.nav-item
{
    margin: 0%;
    padding:0%;
}

.nav-item a:hover
{
    background-color:rgba(233, 233, 233, 0.5);
    transition: 0.3s;
    visibility: visible;

}

.navbar-style
{
    box-shadow: 0 9px 7px -4px rgba(66, 66, 66, 0.137);

    /*box-shadow: 0 2px 2px -2px rgba(0,0,0,.2);*/
}
.title{
    color: rgb(255, 255, 255);
    position: absolute;
    top: 50%;
    left: 52.5%;
    transform: translate(-50%,-50%);
    text-align: center;
    font-family: Bodoni Moda;
    text-shadow: 3px 3px 3px rgba(255, 255, 255, 0.699);
    font-size: 4em;
    text-transform: uppercase;
    background-color: rgba(185, 185, 185, 0.308);
}


@media only screen and (max-width: 600px) {

.nav-item a
{
    font-size: 2rem;
}
.navbar-toggler-icon{
    font-size: 2em;
}
}


