{
    margin: 0;
    padding: 0;
}

.header
{
    height: 100vh; 
    position: relative;

}

body
{
    height: 100vh;
    width: 100%;
    background-image:linear-gradient(rgba(185, 185, 185, 0.438),rgba(185, 185, 185, 0.308)),url('/Users/sashrikasurya/Documents/vimmiindra.github.io/assets/background.jpg');
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
}

/*
For background of navbar
.nav-row
{
    background-color: rgba(255, 255, 255, 0.308);
}
*/
.nav-item
{
    
    padding:0%;
}

.nav-item a:hover
{
    background-color:rgba(233, 233, 233, 0.5);
    transition: 0.3s;
    visibility: visible;

}
.navbar-dark
{
    color: white;
}
.title{
    color: rgb(255, 255, 255);
    position: absolute;
    top: 50%;
    left: 52.5%;
    transform: translate(-50%,-50%);
    text-align: center;
    font-family: Bodoni Moda;
    text-shadow: 3px 3px 3px rgba(255, 255, 255, 0.699);
    font-size: 3.6em;
    text-transform: uppercase;
    background-color: rgba(185, 185, 185, 0.308);
}





